In [ ]:
#Task1

import mysql.connector as conn
mydb=conn.connect(host='localhost',user='root',passwd='useyourpassword',use_pure=True)
print(mydb)
cur=mydb.cursor(buffered=True,dictionary=True)
q1="create database work"
#cur.execute(q1)
q2="use work"
#cur.execute(q2)

q3="create table if not exists work.Dress_Attribute(Dress_id INT,Style varchar(20),Price varchar(10),Rating decimal(2,1),Size varchar(10),Nackline varchar(20),Sleevelnegth varchar(10),waiseline varchar(20),Fabrictype varchar(20),Decoration varchar(20),Pattern_Type varchar(20),Recommendation int)"
#cur.execute(q3) 


q4="CREATE TABLE table if not exists work.sales_attribute(dress_id INT,`29/8/2013` INT,`31/8/2013` INT,`2/9/2013` INT,`4/9/2013` INT,`6/9/2013` INT,`8/9/2013` INT,`10/9/2013` INT,`12/9/2013` INT,`14/9/2013` INT,`16/9/2013` INT,`18/9/2013` INT,`20/9/2013` INT,`22/9/2013` INT,`24/9/2013` INT,`26/9/2013` INT,`28/9/2013` INT,`30/9/2013` INT,`2/10/2013` INT,`4/10/2013` INT,`6/10/2013` INT,`8/10/2013` INT,`10/10/2013` INT,`12/10/2013` INT)"

#cur.execute(q4)

In [ ]:
#Task2

#mysql workbench dependencies
SET sql_mode = ""

# Loading the data from csv file to sales_dataset table.
LOAD DATA INFILE "C:/Academics/INEURON/others/data fsds/Dress_Sales.csv"
INTO TABLE sales_attribute
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES; 

# Loading the data from csv file to attribute_dataset table.
LOAD DATA INFILE "C:/Academics/INEURON/others/data fsds/Attribute_DataSet.csv" 
INTO table work.dress_attribute
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\r\n'
IGNORE 1 LINES;

In [ ]:
#Task3

import pymongo 
import mysql.connector as conn 
import pandas as pd 
import json

In [ ]:
mydb=conn.connect(host='localhost',username='root',passwd='shwetank@196',use_pure=True) 
#mydb.is_connected() 
cursor=mydb.cursor(buffered=True,dictionary=True)
q5="select * from work.dress_attribute"
df1=pd.read_sql(q5,mydb) 
df1

In [ ]:
df1.info()

In [ ]:
df1.isna().sum()

In [ ]:
q6="select * from work.sales_attribute" 
df2=pd.read_sql(q6,mydb)
df2

In [ ]:
df2.info()

In [ ]:
df2.isna().sum()

In [ ]:
#Task4

dress_json=df1.to_json('dress.json') #json file is created in present directory
dress_json

In [ ]:
#Task5

client = pymongo.MongoClient("mongodb+srv://shwetank:shwetank123@cluster0.rjsvn.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
db1=client['database']
coll=db1['collection'] 

# insert_many takes non empty list and also it should be iterable so json file we are reading and using to 
#dump data in mongodb

with open('C:\\Academics\\INEURON\\others\\dress.json') as file: 
    dress_file=json.load(file)
type(dress_file)

In [ ]:
if isinstance(dress_file,list):
    coll.insert_many(dress_file)
else:
    coll.insert_one(dress_file)

In [ ]:
mydb=conn.connect(host='localhost',username='root',passwd='',use_pure=True) 
mydb.is_connected()

In [ ]:
#Task6

cursor=mydb.cursor(buffered=True,dictionary=True)
q7="select * from work.dress_attribute d left join work.sales_attribute s on d.dress_id=s.dress_id"
cursor.execute(q7)
for i in cursor.fetchall():
    print(i)
    #print(i['dress_id'])

In [ ]:
#Task7

q8="select count(distinct(dress_id)) as unique_dressID from work.dress_attribute"
cursofor i in cursor.fetchall():
    print(i)r.execute(q8)

In [ ]:
#Task8

q9="select count(*) from work.dress_attribute where recommendation = 0"
cursor.execute(q9) 
for i in cursor.fetchall():
    print(i)

In [ ]:
#Task9

#Try to find out total dress sales for each and every Dress_ID 
q10="select dress_id, (`29/8/2013`+`31/8/2013`+`2/9/2013` +`4/9/2013` +`6/9/2013` +`8/9/2013` +`10/9/2013` +`12/9/2013` +`14/9/2013` +`16/9/2013` +`18/9/2013` +`20/9/2013` +`22/9/2013` +`24/9/2013` +`26/9/2013` +`28/9/2013` +`30/9/2013` +`2/10/2013` +`4/10/2013` + `6/10/2013`+`8/10/2013` +`10/10/2013` +`12/10/2013`) as total_sales from work.sales_attribute group by dress_id"
cursor.execute(q10) 
for i in cursor.fetchall():
    print(i)

In [ ]:
#Task10

#1st method (nested query)

q11="select a.dress_id from  (select dress_id, (`29/8/2013`+`31/8/2013`+`2/9/2013` +`4/9/2013` +`6/9/2013` +`8/9/2013` +`10/9/2013` +`12/9/2013` +`14/9/2013` +`16/9/2013` +`18/9/2013` +`20/9/2013` +`22/9/2013` +`24/9/2013` +`26/9/2013` +`28/9/2013` +`30/9/2013` +`2/10/2013` +`4/10/2013` + `6/10/2013`+`8/10/2013` +`10/10/2013` +`12/10/2013`) as total_sale from work.sales_attribute group by dress_id order by 2 desc limit 3) a order by a.total_sale limit 1"
cursor.execute(q11) 
for i in cursor.fetchall():
    print(i) 
    
#2nd method (using window function)    
q12="select A.dress_id from (select dress_id ,row_number() over(order by view1.total_sales desc) as rn from view1) as A where A.rn=3" 
cursor.execute(q12) 
for i in cursor.fetchall():
    print(i)